.Navbar{
  
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.SearchFilters{
  float: left;
  margin-left: 60px;
  width: 200px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}

.SearchResults{
  float: right;
  margin-left: 40px;
  margin-right:60px;
  margin-bottom:30px;
  background-color: white;
  border-radius: 30px;
  height: 170px;
  width: 90%;
  text-align: center;
  color: rgb(73, 73, 73);  
}

.NavItems{
  color: white;
}
